/Prompts for AI.txt

/.pdf

/Cpdf_Organiser.py
/Cur_PDF_Organiser.py
/pdf_by_Functions.py
/Pdf_org.py
/testing_Lines.py

/DdevedD 460x540.png
/DdevedD-256x256.ico

/EXE procedure.txt

/pdf_Organiser_Arch.exe
/pdf_Organiser_CAS.exe
/pdf_Organiser_Civil.exe
/pdf_Organiser_Civil_C2.exe
/pdf_Organiser_Struct.exe
/pdf_Organiser_Trinity.exe